# Prerequisites
*.d

# Python
*.pyc

# Riversim
*msh
*json
*vtk

#PyPi
dist/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folders
bin/*
build/*
lib/*
install/*
**/build

#vscode project file
*.code-workspace
.vscode/ipch/*

#visual studio output files
**/.vs
**/Debug
**/x64
Doxyfile
out/*

#some test files..FIXME:
tests/solution-0.vtk
tests/grid-0.eps
tests/test.msh
tests/solution.vtk
tests/iotest.json
mesh.msh
simulation_data.json
solution.vtk
research/*.vtk
research/*.json
research/*.msh
research/experiment_results/*
tests/simulation.json
tests/mesh_max_area.msh
tests/mesh_max_edge_lenght.msh
tests/mesh_max_triangle_ratio.msh
tests/mesh_min_angle.msh
tests/mesh_min_area.msh
tests/mesh_min_edge_lenght.msh
tests/test_boundary.msh
tests/Forward_River_Evolution_boundary.msh
tests/Forward_River_Evolution.msh

#LaTeX
master_thesis/*.aux
master_thesis/*.bcf
master_thesis/*.fls
master_thesis/*.log
master_thesis/*.run.xml
master_thesis/*.synctex.gz
master_thesis/*.fdb_latexmk
master_thesis/*.toc
master_thesis/*.pdf
master_thesis/*.lot